@font-face
{
    font-family: Roboto;
    src: url(../framework/fonts/Roboto-Regular.ttf);
}
body
{
    margin: 0;
    padding: 0;
}

p
{
    font-family: Roboto;
}

#todo
{
    background-color: red;
}
